body {background-color: lightblue;}
.center1 {
  
  display: block;
  margin-left: auto;
  margin-right: auto;
	}
pre {
	position: relative; left: 38%;
	border-width:fit-content;
	color:white;
	border-style:solid;
	border-color:black;
	background-color: black;
	width: fit-content;
    
  }

h1 {
  color: #1E90FF ;
  text-align: center;
  font-size: 69;
}

h2 {
  color: #0000CD ;
  text-align: center;
  font-size: 42;
}

p {
  font-family: verdana;
  font-size: 20px;
}